<div style="margin:20px;">
<form class="" novalidate>
    <div class="form-group">
        <label for="content">内容</label>
        <!--<div id="content" text-angular ng-model="vm.htmlContent" ></div>-->
        <textarea class="form-control" ng-model="vm.htmlContent" id="content" rows="10"></textarea>
    </div>
    <div class="form-group">
        <button type="button" class="form-control btn btn-primary" ng-click="vm.parse()">解析</button>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-default">
        <tr>
            <th style="width:60px;">序号</th>
            <th style="width:60px;">要点</th>
            <th style="width:160px">创建时间</th>
            <th>内容</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.parseData">
            <th scope="row">{{$index}}</th>
            <td><input type="checkbox" ng-model="item.isEssential" ng-checked="item.isEssential"></td>
            <td>{{item.created | date:'yyyy-MM-dd hh:mm'}}</td>
            <td style="text-align: left" ng-bind-html="item.content"></td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="form-control btn btn-primary" ng-click="vm.batchSave()">保存</button>
</form>
</div>