<div style="margin:20px;">
<form class="" novalidate>
    <div class="form-group">
        <label for="content">内容</label>
        <!--<div id="content" text-angular ng-model="vm.htmlContent" ></div>-->
        <textarea class="form-control" ng-model="vm.htmlContent" id="content" rows="10"></textarea>
    </div>
    <div class="form-group" style="text-align: center;">
        <button type="button" class="btn btn-primary" ng-click="vm.parse(1)">解析1</button>
        <button type="button" class="btn btn-primary" ng-click="vm.parse(2)">解析2</button>
        <button type="button" class="btn btn-primary" ng-click="vm.parse(3)">解析3</button> 
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-default">
        <tr>
            <th style="width:60px;">序号</th>
            <th style="width:60px;">要点</th>
            <th style="width:160px">创建时间</th>
            <th>内容</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.parseData" ng-class="{hasEssential:item.isEssential}">
            <th scope="row">{{$index}}</th>
            <td><input type="checkbox" ng-model="item.isEssential" ng-checked="item.isEssential"></td>
            <td>{{item.created | date:'yyyy-MM-dd HH:mm'}}</td>
            <td style="text-align: left" ng-bind-html="item.content" ng-click="item.isEssential=!item.isEssential"></td>
        </tr>
        </tbody>
    </table>
    <div style="text-align: center;">
        <button type="button" class="btn btn-primary" fs-busy="vm.batchSave(false)" busy-class="disabled">保存并继续</button>
        <button type="button" class="btn btn-primary" fs-busy="vm.batchSave(true)" busy-class="disabled">保存并返回</button>
    </div>
</form>
</div>