#StockList {
  .item {
    line-height: 1.5;
    color: #333;
    &:not(:first-child) {
      margin-top: 1rem;
    }
    > span, > pre {
      color: #999;
      line-height: 1;
      margin-top: .5rem;
      margin-bottom: 2rem;
    }
    pre{
      word-wrap: break-word;
      word-break: normal;
    }
    > span:not(:last-child) {
      margin-right: 3rem;
    }

  }

}