<div class="container-fluid">
    <div class="toolbarContainer clearfix" fs-affix>
        <div class="pull-left">
            <form class="form-inline searchForm" novalidate ng-submit="vm.getList()">
                <div class="form-group">
                    <label for="search_content">关键字</label>
                    <input type="text" class="form-control" id="search_content" placeholder="内容关键字" ng-model="vm.options.keywords">
                </div>
                <div class="form-group">
                    <label for="search_author">作者</label>
                    <select class="form-control" name="search_author" id="search_author" ng-model="vm.options.author" ng-options="author for author in vm.authors">
                        <option value="">全部</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="search_source">来源</label>
                    <select class="form-control" name="search_source" id="search_source" ng-model="vm.options.source" ng-options="source for source in vm.sources">
                        <option value="">全部</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="startDate">创建时间</label>
                    <div class="input-daterange input-group">
                        <input class="form-control w110" type="text" id="startDate" placeholder="起始日期" readonly ng-model="vm.options.startDate" fs-datepicker data-max-date="{{vm.options.endDate}}">
                        <span class="input-group-addon">到</span>
                        <input class="form-control w110" type="text" placeholder="结束日期" readonly ng-model="vm.options.endDate" fs-datepicker data-min-date="{{vm.options.startDate}}">
                    </div>
                </div>
                <button type="submit" class="form-group btn btn-default">搜索</button>
            </form>
        </div>
        <div class="btn-toolbar pull-right">
            <a class="btn btn-primary btn-group" ng-click="vm.showDialog()">
                <i class="fa fa-plus"></i> 新增
            </a>
            <button class="btn btn-primary btn-group" ng-click="vm.removeChecked()">
                <i class="fa fa-trash-o"></i> 批量删除
            </button>
        </div>
    </div>
    <!-- <fs-table-express data-table-convert="vm.tableConvert"/> -->
    <table fs-table-dynamic="vm.tableParams with vm.cols" class="table table-condensed table-bordered table-hover table-group">
        <colgroup>
          <col />
          <col width="100px" />
          <col width="120px" />
        </colgroup>
        <tr class="fs-table-group" ng-repeat-start="group in $groups">
            <td colspan="3" class="text-left">
                <a href="javascript:;" ng-click="group.$hideRows = !group.$hideRows">
                    <span class="fa" ng-class="{ 'fa-chevron-right': group.$hideRows, 'fa-chevron-down': !group.$hideRows }"></span>
                    <strong>{{ group.value }}</strong>
                </a>
            </td>
        </tr>
        <tr ng-hide="group.$hideRows" ng-repeat="row in group.data" ng-repeat-end>
            <td ng-repeat="col in $columns" ng-switch="col.field" ng-class="col.cellClass">
                <input ng-switch-when="selector" type="checkbox" ng-model="checkboxes.items[row.courseid]" />
                <div ng-switch-when="operation" class="operation">
                    <button ng-repeat="button in col.buttons" class="btn btn-primary btn-xs" ng-class="button.css" ng-click="button.onClick(row)">
                        <i class="fa" ng-if="button.icon" ng-class="button.icon"></i>{{button.text}}
                    </button>
                </div>
                <div ng-switch-default>
                    <div ng-if="!!col.getValue" ng-bind="col.getValue(this,row)"></div>
                    <div ng-if="!!col.render" ng-bind-html="col.render(row,this)"></div>
                    <div ng-if="!col.getValue && !col.render">{{row[col.field]}}</div>
                </div>
            </td>
        </tr>
    </table>
</div>
