<div class="logo pull-left">
    <a ui-sref="home">
        <img class="logo" src="images/logo.png" alt="我的钱"/>
        <span>我的钱</span>
    </a>
</div>
<div class="header-menu pull-right notlogin"  ng-if="!vm.authentication.isLogin()">
    <a href="/login">登录</a>
    <a href="/signup">注册</a>
</div>
<div class="header-menu pull-right" ng-if="vm.authentication.isLogin()" data-animation="fs-flip-x" data-placement="bottom-right" data-trigger="click" fs-dropdown="vm.dropdown">
    <a href="javascript:;" class="dropdown-toggle">
        <img class="img-circle" src="images/user.jpg">
            <span class="user-info">
                <small>欢迎您,</small>
                {{::vm.authentication.user.username}}
            </span>
        <i class="fa fa-caret-down"></i>
    </a>
</div>