@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_base\.scss}line{font-family:\000031}}
html {
  font-size: 62.5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_base\.scss}line{font-family:\000035}}
.bar .logo {
  background: #28a54c;
  color: #fff;
}

/* New Login Form based on
   http://codepen.io/lsgrrd/pen/xvwHn
===============================================*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\000037}}
.loginScreen {
  background-color: #172F39;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\000039}}
.loginScreen .mlLinksBlue {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\0000314}}
.loginScreen .introHeading h1 {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\0000317}}
.loginScreen .logo {
  position: relative;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  width: 75px;
  height: 75px;
  background: #28a54c;
  text-align: center;
  margin-top: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\0000328}}
.loginScreen a.logo {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\0000331}}
.loginScreen .logo i {
  position: absolute;
  font-size: 40px;
  color: #fff;
  margin-top: 19px;
  margin-left: -14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\0000338}}
.loginScreen .tagline {
  text-align: center;
  color: #FFF;
  font-size: 16px;
  margin-bottom: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\0000344}}
.loginScreen #ml-login {
  position: relative;
  margin: 25px auto;
  width: 330px;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\0000350}}
.loginScreen #ml-login h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\0000356}}
.loginScreen #ml-login input {
  padding: 16px;
  border-radius: 7px;
  border: 0;
  background: rgba(255, 255, 255, 0.2);
  display: block;
  margin: 10px;
  width: 250px;
  color: white;
  font-size: 17px;
  height: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\0000368}}
.loginScreen #ml-login input:focus {
  outline-color: transparent;
  background: rgba(255, 255, 255, 0.95);
  color: #e74c3c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\0000373}}
.loginScreen #ml-login button {
  float: right;
  height: 110px;
  width: 60px;
  border: 0;
  background: #e74c3c;
  border-radius: 7px;
  padding: 10px;
  color: white;
  font-size: 22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\0000384}}
.loginScreen #ml-login button.submit_forgot {
  float: right;
  height: 50px;
  width: 60px;
  border: 0;
  background: #e74c3c;
  border-radius: 7px;
  padding: 10px;
  color: white;
  font-size: 22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\0000395}}
.loginScreen #ml-login button.submit_register {
  float: right;
  height: 230px;
  width: 60px;
  border: 0;
  background: #e74c3c;
  border-radius: 7px;
  padding: 10px;
  color: white;
  font-size: 22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\00003106}}
.loginScreen #ml-login .inputUserIcon {
  position: absolute;
  top: 180px;
  font-size: 24px;
  right: 80px;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\00003113}}
.loginScreen #ml-login .inputUserIcon_forgot {
  position: absolute;
  top: 16px;
  right: 80px;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\00003119}}
.loginScreen #ml-login .inputUserIcon_register1 {
  position: absolute;
  top: 17px;
  right: 80px;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\00003125}}
.loginScreen #ml-login .inputUserIcon_register2 {
  position: absolute;
  top: 76px;
  right: 80px;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\00003131}}
.loginScreen #ml-login .inputUserIcon_register3 {
  position: absolute;
  top: 136px;
  right: 80px;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\00003137}}
.loginScreen #ml-login .inputUserIcon_register4 {
  position: absolute;
  top: 196px;
  right: 80px;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\00003143}}
.loginScreen #ml-login .inputPassIcon {
  position: absolute;
  top: 240px;
  right: 83px;
  color: white;
  font-size: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\00003150}}
.loginScreen #ml-login input::-webkit-input-placeholder {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\00003153}}
.loginScreen #ml-login input:focus::-webkit-input-placeholder {
  color: #e74c3c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_login\.scss}line{font-family:\00003156}}
.loginScreen #ml-login .introHeading {
  margin-bottom: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_home\.scss}line{font-family:\000032}}
.home .item {
  background: #172F39;
  color: #fff;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_home\.scss}line{font-family:\000036}}
.home .item .icon {
  font-size: 6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_home\.scss}line{font-family:\000039}}
.home .item + .item {
  margin-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/myMoney\/app\/app\/css\/money\/_home\.scss}line{font-family:\0000313}}
.home .row + .row {
  margin-top: 0;
}
