<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title><%= title %></title>
    <!-- build:css css/base.min.css -->
    <link rel="stylesheet" href="css/base.css">
    <!-- endbuild -->
    <!-- build:css css/money.min.css -->
    <link rel="stylesheet" href="css/money.css">
    <!-- endbuild -->
</head>
<body ng-app="money">
<div class="main">
    <header class="main"></header>
    <div class="container" ng-controller="SignupController as vm">
        <form name="signupForm" ng-submit="vm.signupSubmit()" novalidate>
            <div class="form-group"
                 ng-class="{'has-success':vm.isSuccess(signupForm.username),'has-error':vm.isError(signupForm.username)}">
                <label for="username">用户名:</label>
                <input class="form-control"
                       type="text"
                       id="username"
                       name="username"
                       placeholder="请输入用户名"
                       ng-model="vm.data.username"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-minlength="2"
                       ng-maxlength="10"
                       ng-class="{'form-control-success':vm.isSuccess(signupForm.username),'form-control-error':vm.isError(signupForm.username)}"
                       required/>
                <div class="error-messages" ng-if="vm.interacted(signupForm.username)"
                     ng-messages="signupForm.username.$error">
                    <div class="label label-danger" ng-message="required">请输入用户名</div>
                    <div class="label label-danger" ng-message="minlength || maxlength">用户名必须在2~10个字之间</div>
                    <div class="label label-danger" ng-message="fsRealnameValidation">用户名必须是中英文字符</div>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-success':vm.isSuccess(signupForm.email),'has-error':vm.isError(signupForm.email)}">
                <label for="email">邮箱:</label>
                <input class="form-control"
                       id="email"
                       type="email"
                       name="email"
                       placeholder="请输入邮箱"
                       ng-class="{'form-control-success':vm.isSuccess(signupForm.email),'form-control-error':vm.isError(signupForm.email)}"
                       ng-model="vm.data.email"
                       ng-model-options="{ updateOn: 'blur' }"
                       fs-email-validation
                       required/>

                <div class="error-messages" ng-if="vm.interacted(signupForm.email)" ng-messages="signupForm.email.$error">
                    <div ng-message="required" class="label label-danger">请输入邮箱</div>
                    <div ng-message="fsEmailValidation" class="label label-danger">请输入正确的邮箱</div>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-success':vm.isSuccess(signupForm.password),'has-error':vm.isError(signupForm.password)}">
                <label for="password">密码:</label>
                <input class="form-control"
                       type="password"
                       name="password"
                       id="password"
                       placeholder="请输入密码"
                       ng-class="{'form-control-success':vm.isSuccess(signupForm.password),'form-control-error':vm.isError(signupForm.password)}"
                       ng-model="vm.data.password"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-minlength="6"
                       ng-maxlength="12"
                       required/>

                <div class="error-messages" ng-if="vm.interacted(signupForm.password)"
                     ng-messages="signupForm.password.$error">
                    <ng-messages-include src="password-messages"></ng-messages-include>
                </div>
            </div>

            <!--<div class="form-group"-->
                 <!--ng-class="{'has-success':vm.isSuccess(signupForm.password_confirm),'has-error':vm.isError(signupForm.password_confirm)}">-->
                <!--<label for="password_confirm">确认密码:</label>-->
                <!--<input class="form-control"-->
                       <!--type="password"-->
                       <!--name="password_confirm"-->
                       <!--id="password_confirm"-->
                       <!--placeholder="请输入确认密码"-->
                       <!--ng-class="{'form-control-success':vm.isSuccess(signupForm.password_confirm),'form-control-error':vm.isError(signupForm.password_confirm)}"-->
                       <!--ng-model="password_confirm"-->
                       <!--ng-model-options="{ updateOn: 'blur' }"-->
                       <!--ng-minlength="6"-->
                       <!--ng-maxlength="12"-->
                       <!--fs-match-validation="vm.data.password"-->
                       <!--required/>-->

                <!--<div class="error-messages" ng-if="vm.interacted(signupForm.password_confirm)"-->
                     <!--ng-messages="signupForm.password_confirm.$error">-->
                    <!--<ng-messages-include src="password-messages"></ng-messages-include>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
            <input class="form-control btn btn-primary" type="submit" value="注册"/>
            </div>
            <div class="form-group">
            <div class="form-control alert alert-danger" role="alert" ng-if="vm.message.length>0">
                {{vm.message}}
            </div>
            </div>
        </form>
        <script type="text/ng-template" id="password-messages">
            <div class="label label-danger" ng-message="required">请输入密码</div>
            <div class="label label-danger" ng-message="minlength || maxlength">密码必须是6~12位</div>
            <div class="label label-danger" ng-message="fsMatchValidation">密码不一致</div>
        </script>
    </div>
    <footer class="sticky"></footer>
</div>
<footer class="main"></footer>
<!-- build:js js/base.min.js -->
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/angular-messages/angular-messages.js"></script>
<script src="../bower_components/fishjs/dist/fish-2.0.0.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../bower_components/rangy/rangy-core.js"></script>
<script src="../bower_components/rangy/rangy-classapplier.js"></script>
<script src="../bower_components/rangy/rangy-highlighter.js"></script>
<script src="../bower_components/rangy/rangy-selectionsaverestore.js"></script>
<script src="../bower_components/rangy/rangy-serializer.js"></script>
<script src="../bower_components/rangy/rangy-textrange.js"></script>
<script src="../bower_components/textAngular/dist/textAngular.js"></script>
<script src="../bower_components/textAngular/dist/textAngular-sanitize.js"></script>
<script src="../bower_components/textAngular/dist/textAngularSetup.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/lodash/lodash.js"></script>
<script src="../bower_components/restangular/dist/restangular.js"></script>
<script src="../bower_components/angular-ui-grid/ui-grid.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js js/money.min.js -->
<!-- injector:js -->
<script src="money.module.js"></script>
<script src="money.config.js"></script>
<script src="money.route.js"></script>
<script src="money.web.js"></script>
<script src="breadcrumbs/breadcrumbs.module.js"></script>
<script src="common/common.module.js"></script>
<script src="dialog/dialog.module.js"></script>
<script src="header/header.module.js"></script>
<script src="sidebar/sidebar.module.js"></script>
<script src="signup/signup.module.js"></script>
<script src="voice-broadcast/voice-broadcast.module.js"></script>
<script src="about/AboutCtrl.js"></script>
<script src="breadcrumbs/breadcrumbs.controller.js"></script>
<script src="breadcrumbs/breadcrumbs.directive.js"></script>
<script src="common/angular-locale_zh-cn.js"></script>
<script src="common/authentication.service.js"></script>
<script src="common/csv.js"></script>
<script src="common/pdfmake.js"></script>
<script src="common/router-helper.provider.js"></script>
<script src="common/vfs_fonts.js"></script>
<script src="dialog/dialog.service.js"></script>
<script src="header/header.controller.js"></script>
<script src="header/header.directive.js"></script>
<script src="home/HomeCtrl.js"></script>
<script src="sidebar/sidebar.controller.js"></script>
<script src="sidebar/sidebar.directive.js"></script>
<script src="signup/signup.server.js"></script>
<script src="signup/singup.controller.js"></script>
<script src="voice-broadcast/voice-broadcast.controller.js"></script>
<script src="voice-broadcast/voice-broadcast.route.js"></script>
<script src="voice-broadcast/voice-broadcast.service.js"></script>
<script src="../.tmp/web/money.views.js"></script>
<!-- endinjector -->
<!-- endbuild -->

</body>
</html>
