.pager {
  margin: 10px;
  border: 1px rgb(224, 224, 224) solid;
}

.hidden {
  display: none;
}

.show {
  display: inherit;
}

.required:after {
  content: " *";
  color: red;
}

a, a:hover, a:visited {
  color: #333;
  text-decoration: none;
}