table.form {
  width: 100%;
  background-color: #fff;
  th {
    width: 8rem;
    text-align: left;
    font-weight: normal;
    padding: .8rem;
  }
  td {
    color: #999;
  }
  .multi-line {
    vertical-align: top;
    padding-top: 17px;
  }
}

table.form2 {
  width: 95%;
  background-color: #f5f5f5;
  margin: 1rem;
}