@charset "UTF-8";
/* line 3, ../scss/money/_base.scss */
body {
  -ms-overflow-style: scrollbar;
}

/* line 2, ../scss/money/mixins/_layout.scss */
html, body {
  height: 100%;
}

/* line 5, ../scss/money/mixins/_layout.scss */
#main-container {
  clear: both;
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  min-width: 1000px;
  margin-bottom: -40px;
}
/* line 13, ../scss/money/mixins/_layout.scss */
#main-container #place-footer-container {
  height: 40px;
}
/* line 16, ../scss/money/mixins/_layout.scss */
#main-container #main-content-container {
  min-height: 550px;
}
/* line 18, ../scss/money/mixins/_layout.scss */
#main-container #main-content-container #sidebar-container {
  position: absolute;
  top: 45px;
  bottom: 39px;
  overflow: hidden;
  width: 200px;
  z-index: 100;
}
/* line 26, ../scss/money/mixins/_layout.scss */
#main-container #main-content-container #content-container {
  margin-left: 200px;
}

/* line 31, ../scss/money/mixins/_layout.scss */
#footer-container {
  clear: both;
  position: relative;
  height: 40px;
  z-index: 10;
}

/* line 9, ../scss/money/_base.scss */
#footer-container {
  color: #808080;
  background-color: #f2f2f2;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  padding-top: 10px;
}

/* line 17, ../scss/money/_base.scss */
#sidebar-container {
  border: 1px solid #ccc;
  border-width: 0 1px 0 0;
  background-color: #f2f2f2;
}

/* line 25, ../scss/money/_base.scss */
.layout-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 1, ../scss/money/_header.scss */
#header-container {
  height: 45px;
  background-color: #438eb9;
}
/* line 4, ../scss/money/_header.scss */
#header-container .logo {
  margin: 3px 0 0 10px;
}
/* line 7, ../scss/money/_header.scss */
#header-container .logo a {
  color: #fff;
  font-size: 20px;
}
/* line 10, ../scss/money/_header.scss */
#header-container .logo a img {
  width: 32px;
  height: 32px;
}
/* line 14, ../scss/money/_header.scss */
#header-container .logo a span {
  text-shadow: 1px 1px 0 #000;
  padding-left: 5px;
  vertical-align: middle;
}
/* line 21, ../scss/money/_header.scss */
#header-container .header-menu {
  background-color: #62a8d1;
  margin-right: 20px;
  padding: 0 10px;
  height: 45px;
}
/* line 26, ../scss/money/_header.scss */
#header-container .header-menu a {
  color: #fff;
  height: 100%;
  vertical-align: middle;
  height: 45px;
  position: relative;
}
/* line 32, ../scss/money/_header.scss */
#header-container .header-menu a i {
  padding: 10px;
  position: relative;
  top: -6px;
}
/* line 37, ../scss/money/_header.scss */
#header-container .header-menu a img {
  margin: -12px 8px 0 0;
  max-width: 40px;
}
/* line 42, ../scss/money/_header.scss */
#header-container .header-menu .user-info {
  max-width: 100px;
  display: inline-block;
  line-height: 15px;
  margin-top: 6px;
}
/* line 47, ../scss/money/_header.scss */
#header-container .header-menu .user-info small {
  display: block;
}
/* line 53, ../scss/money/_header.scss */
#header-container .notlogin a {
  top: 10px;
}
/* line 55, ../scss/money/_header.scss */
#header-container .notlogin a:not(:last-child) {
  margin-right: 10px;
}
/* line 60, ../scss/money/_header.scss */
#header-container a:hover, #header-container a:active, #header-container a:focus {
  text-decoration: none;
}

/* line 66, ../scss/money/_header.scss */
#sidebar-container .panel-default {
  border-color: #e5e5e5;
  border-width: 0 0 1px 0;
}
/* line 70, ../scss/money/_header.scss */
#sidebar-container .panel {
  border-radius: 0;
}
/* line 73, ../scss/money/_header.scss */
#sidebar-container .panel-group .panel + .panel {
  margin: 0;
}

/* line 2, ../scss/money/_button.scss */
.btn i {
  margin-right: 5px;
}

/* line 4, ../scss/money/_forms.scss */
form.default.form-horizontal .has-feedback .form-control-feedback {
  top: 8px;
}
/* line 9, ../scss/money/_forms.scss */
form.default .fa {
  font-size: 16px;
}
/* line 12, ../scss/money/_forms.scss */
form.default i.fa-warning {
  margin-right: 5px;
}
/* line 15, ../scss/money/_forms.scss */
form.default .alert {
  margin-bottom: 0;
}
/* line 19, ../scss/money/_forms.scss */
form.default .has-feedback .form-control-feedback {
  top: 32px;
}
/* line 23, ../scss/money/_forms.scss */
form.default .error-messages.ng-active {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding: 5px;
  border-radius: 4px;
  margin-top: 10px;
  position: relative;
}
/* line 32, ../scss/money/_forms.scss */
form.default .error-messages.ng-active:after {
  position: absolute;
  top: -10px;
  content: "";
  left: 20px;
  border-style: solid;
  border-color: transparent transparent #f2dede;
  border-width: 5px;
}
/* line 41, ../scss/money/_forms.scss */
form.default label.required:after {
  position: absolute;
  content: "*";
  color: red;
  padding-left: 3px;
  top: 10px;
}

/* line 51, ../scss/money/_forms.scss */
form.formly .form-group {
  margin-bottom: 18px;
}
/* line 54, ../scss/money/_forms.scss */
form.formly .fa {
  font-size: 16px;
}
/* line 58, ../scss/money/_forms.scss */
form.formly .has-feedback .form-control-feedback {
  top: 32px;
}
/* line 62, ../scss/money/_forms.scss */
form.formly .row {
  display: block;
}
/* line 65, ../scss/money/_forms.scss */
form.formly label.control-label {
  color: #000;
}
/* line 68, ../scss/money/_forms.scss */
form.formly label.required:after {
  position: absolute;
  content: "*";
  color: red;
  padding-left: 3px;
  top: 3px;
}
/* line 75, ../scss/money/_forms.scss */
form.formly .error-messages {
  position: relative;
  transition: .2s linear all;
  opacity: 0;
  top: -10px;
}
/* line 80, ../scss/money/_forms.scss */
form.formly .error-messages.ng-active {
  opacity: 1;
  top: 0;
}
/* line 84, ../scss/money/_forms.scss */
form.formly .error-messages.ng-leave.ng-leave-active {
  opacity: 0;
  top: -10px;
}
/* line 88, ../scss/money/_forms.scss */
form.formly .error-messages .some-message {
  color: #a94442;
  position: absolute;
  font-size: .8em;
  width: 100%;
}

/* line 1, ../scss/money/_modals.scss */
.modal-open {
  overflow: inherit;
}

/* line 2, ../scss/money/_table.scss */
.table th,
.table td {
  text-align: center;
  vertical-align: inherit;
}
/* line 8, ../scss/money/_table.scss */
.table thead tr {
  color: #707070;
  font-weight: normal;
  background-color: #f2f2f2;
  background-repeat: repeat-x;
  background-image: linear-gradient(to bottom, #f8f8f8 0, #ececec 100%);
}
/* line 16, ../scss/money/_table.scss */
.table .hasEssential {
  color: red;
}
/* line 19, ../scss/money/_table.scss */
.table .operation button + button {
  margin-left: 5px;
}

/* line 25, ../scss/money/_table.scss */
.table-group .text-left {
  text-align: left;
}

/* line 2, ../scss/money/_toolbar.scss */
.toolbarContainer {
  width: 100%;
  max-width: 100%;
  padding: 10px 0;
  background-color: #fff;
}
/* line 7, ../scss/money/_toolbar.scss */
.toolbarContainer .input-search-group {
  width: 200px;
}
/* line 11, ../scss/money/_toolbar.scss */
.toolbarContainer .searchForm .form-group {
  margin-right: 10px;
}
/* line 12, ../scss/money/_toolbar.scss */
.toolbarContainer .searchForm .form-group > label {
  font-weight: normal;
}
/* line 14, ../scss/money/_toolbar.scss */
.toolbarContainer .searchForm .form-group > label:after {
  font-family: '宋体';
  content: "：";
}
/* line 21, ../scss/money/_toolbar.scss */
.toolbarContainer .searchForm .w110 {
  width: 110px;
}

/* line 2, ../scss/money/_pagination.scss */
.pagination-container {
  text-align: center;
}

/* line 6, ../scss/money/_sidebar.scss */
#sidebar-container .list-group-item i {
  margin-right: 10px;
}

/* line 1, ../scss/money/_breadcurmbs.scss */
.breadcrumbs {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
/* line 5, ../scss/money/_breadcurmbs.scss */
.breadcrumbs i {
  position: relative;
  top: 2px;
  margin: 0 10px 0 20px;
  font-size: 20px;
}
/* line 11, ../scss/money/_breadcurmbs.scss */
.breadcrumbs .breadcrumb {
  display: inline-block;
  margin: 0;
  padding: 9px 0 8px 0;
  border-radius: 0;
}
/* line 16, ../scss/money/_breadcurmbs.scss */
.breadcrumbs .breadcrumb li + li:before {
  padding: 0 0 0 5px;
}

/* line 2, ../scss/money/_signup.scss */
.signup {
  margin-top: 20px;
}

/* line 1, ../scss/money/_article.scss */
.important {
  color: red;
}

/* line 4, ../scss/money/_article.scss */
.red {
  color: red;
}

/* line 7, ../scss/money/_article.scss */
.article {
  background-color: #FFF2D5;
  font-size: 16px;
  line-height: 25px;
}
/* line 12, ../scss/money/_article.scss */
.article time {
  margin-right: 20px;
}
/* line 15, ../scss/money/_article.scss */
.article p {
  text-indent: 32px;
}
/* line 18, ../scss/money/_article.scss */
.article header {
  margin-bottom: 20px;
}

/* line 22, ../scss/money/_article.scss */
section.articles {
  background: #FFF2D5;
}
/* line 24, ../scss/money/_article.scss */
section.articles article {
  font-size: 16px;
}
/* line 26, ../scss/money/_article.scss */
section.articles article .article-content {
  max-height: 120px;
  overflow: hidden;
}
/* line 30, ../scss/money/_article.scss */
section.articles article time, section.articles article .author {
  font-size: 0.8rem;
  color: #ccc;
}
